<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {%for todo in todo_list%}
                    <tr>
                    <td>{{todo.name}}</td>
                    <td>{{todo.todo.items|length}}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
</body>
</html>
